@font-face{
    font-family:'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:'Roboto';
    src: url('./assets/fonts/Roboto-Bold.ttf');
    font-weight:bold;
    font-style:normal;
}

:root{
    --dark-navy:#242742;
    --pale-navy:#36384D;
    --grey-25:#19182B40;
    --white:#FFFFFF;
    --vermellion:#FF6155;
    --gradient-stop-0: #FF6A3A;
    --gradient-stop-100: #FF527B;
}

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family:'Roboto', 'sans-serif';
    font-weight:normal;
}

body{
    background-color:var(--pale-navy);
}

h1, h2, strong, button, input[type=submit]{
    font-weight:bold;
}

main{
    display:grid;
    grid-template-columns:repeat(12, 1fr);
}

article{
    color:var(--dark-navy);
    grid-column:1 / 13;
    grid-row:1;
    background-color:var(--white);
    display:flex;
    flex-direction:column;
}

article:first-of-type picture img{
    display:block;
    width:100%;
    height:auto;
}

section{
    padding-block:2.5rem;
    padding-inline:1.5rem;
    display:grid;
    gap:1.5rem;
}

h1, h2{
    font-size:2.5rem;
    line-height:100%;
}

p{
    line-height:150%;
}

ul{
    list-style-type:none;
    display:flex;
    flex-direction:column;
    gap:10px;
}

ul li{
    display:flex;
    align-items:flex-start;
    line-height:150%;
}

ul li::before{
    content: url('assets/images/icon-list.svg');
    vertical-align: top;
    margin-right: 1rem;
}

form{
    margin-block-start:1rem;
    display:flex;
    flex-direction:column;
    gap:0.5rem;   
}

div{
    display:flex;
    justify-content:space-between;
}

label,span{
    font-size:0.75rem;
    line-height:150%;
    font-weight:bold;
}

span{
    color:var(--vermellion);
    display:none;
}

input[type='email']{
    padding-block:1rem;
    padding-inline-start:1.5rem;
    border:1px solid var(--grey-25);
    border-radius:8px;
    color:var(--dark-navy);
}

input[type='email']::placeholder{
    line-height:150%;
    color:var(--dark-navy);
    opacity:0.5;
}

.errorStyle{
    background-color:#FF615526;
    border:1px solid var(--vermellion) !important;
    color:var(--vermellion) !important;
}

input[type='submit']{
    margin-block-start:1rem;  
}

input[type='submit'], button{
    padding-inline:2.9375rem;
    padding-block:0.9375rem;
    border-radius:8px;
    border:none;
    background-color:var(--dark-navy);
    color:var(--white);
    line-height:150%;
    cursor:pointer;
}

input[type=submit]:hover, button:hover{
    background: var(--gradient-stop-0);
    background: linear-gradient(90deg, var(--gradient-stop-0) 0%, var(--gradient-stop-100) 100%);
    box-shadow: 0px 16px 32px 0px rgba(255,97,85,0.5);
    -webkit-box-shadow: 0px 16px 32px 0px rgba(255,97,85,0.5);
    -moz-box-shadow: 0px 16px 32px 0px rgba(255,97,85,0.5);
}

article:last-of-type{
    padding:9.3125rem 1.5rem 2.5rem;
    gap:1.5rem;
    z-index:2;
    display:none;
}

article:last-of-type img{
    align-self:flex-start;
}

h2{
    margin-block-start:1rem;
}

button{
    margin-top:14.9375rem;
}



@media screen and (min-width:950px) and (min-height:665px){
    main{
        place-items:center;
        height:100vh;
    }

    article:first-of-type{
        width:58rem;
        padding:1.5rem;
        border-radius:2.25rem;
        display:flex;
        flex-direction:row;
        gap:1.5rem;
    }

    picture{
        order:2;
    }

    article:first-of-type picture img{
        width:auto;
        height:100%;
    }
    
    section{
        order:1;
        padding-block:4.5rem;
        padding-inline:2.5rem;
    }

    h1, h2{
        font-size:3.5rem;
    }

    article:last-of-type{
        width:31.5rem;
        border-radius:2.25rem;
        padding:3rem 4rem 4rem;
    }

    button{
        margin-top:1rem;
    }
}

@media screen and (550px<=width<950px){
    main{
        transform:scale(0.8);
    }
}